{% extends "base.html" %}
{% load static %}


{% block content %}
<title>Sultans | Menu</title>
<!-- index.html content starts here -->
<div class="container-fluid">
    <div style="text-align: center; margin-top: 100px;">        
        
        <div class="container">         
            <div class="row">
              <div class="col-sm">
                {% for about in object_list %}
                <h1>{{about.title}}</h1>
                <p>{{about.description | safe}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
         
    </div> 

<!-- index.html content ends here -->
{% endblock %}
