body {
    padding: 20px 10% 0 10%;
   
}

.navbar-nav .nav-item .nav-link:hover {
    font-style: oblique;
    
    color: darksalmon;
}

.responsive {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
  }