{% extends "base.html" %}
{% block content %}
<title>Sultans | Menu</title>
<!-- index.html content starts here -->
<div class="container-fluid">
    <div style="text-align: center; margin-top: 200px;">
        <div>
            <h1>Hello. Welcome to Sultan's.</h1>
            <h2>Where desire meets elegance.</h2>
            {% for textinfo in object_list %}
            {% if textinfo.is_valid == "Yes" %}
            <div style="padding-top: 50px;">
                {{textinfo.description | safe}}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- index.html content ends here -->
    {% endblock %}
