{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1> NEW Restaurant Booking</h1>
<div class="form-group" style="text-align: center">
    {% if user.is_authenticated %}
    <p class="text-end m-3 text-center">welcome {{ user }}!</p>
    {% else %}
    <p class="text-end m-3 text-center">You are not logged in. Please log in to make a booking.</p>
    {% endif %}   
    
    <div class="form-group" style="text-align: center">
        <div>Please use the following to make a booking with us:</div>
                <form method="post" style="padding-top: 2rem;">
                    {% csrf_token %}
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="text-white p-3">Name: {{ form.name }}  </div>
                        </div>
                        <div class="row">
                            <div class="text-white p-3">Email: {{ form.email }} </div>
                        </div>
                        <div class="row">
                            <div class="text-white p-3">phone: {{ form.phone }}</div>
                        </div>
                        <div class="row">
                            <div class="text-white p-3">at: {{ form.time_slot }} on: {{form.date}}</div>
                        </div>
                        <div class="row">
                            <div class="text-white p-3"> for: {{ form.number_of_people }}</div>
                        </div>
                    </div>
                    <div class=" form-group">
                        <button class="btn btn-secondary btn-block me-5 mt-2" type="submit">Submit</button>
                        <button class="btn btn-warning btn-block mt-2" type="reset">Reset</button>
                    </div>
                </form> 
                
              
     </div>       
{% endblock content %}